/appsettings.json
/bin/Debug/net8.0
/obj/Debug/net8.0/ref
/obj/Debug/net8.0/staticwebassets
/obj/Debug/net8.0/refint
/obj/Debug/*
/obj/*
.vs/*
bin/Release/net8.0/appsettings.json
bin/Release/net8.0/*
